.form-input {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.form-input__label {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--fonts_colors_fade);
}

.form-input__input-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
