.sign-button {
    margin: 0;
    padding: 8px 20px;
    box-sizing: border-box;
    border: 0;
    border-radius: 3px;
    font-family: var(--fonts_family);
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    background-color: transparent;
    text-decoration: none;
}

.sign-button:hover {
    opacity: .8;
    cursor: pointer;
}

.sign-button_type_sign-up {
    background-color: var(--colors_btn_black);
    color: var(--fonts_colors_btn);
}

.sign-button_type_sign-in {
    color: var(--fonts_colors_main);
}

@media screen and (max-width: 767px) {
    .sign-button {
        padding: 5px 12px;
        font-size: 10px;
    }
}