.auth-menu {
    margin: 0;
    padding: 0;
}

.auth-menu__buttons {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    display: flex;
    gap: 10px;
}

.auth-menu__buttons_place_side-bar {
    flex-direction: column;
    align-items: center;
    gap: 15px;
}