.error-message {
  margin: 0;
  padding: 0;
  min-height: 12px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: var(--fonts_colors_error);
}

.error-message_place_profile-name {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform: translateY(-100%);
  text-align: right;
}

.error-message_place_profile-email {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateY(100%);
  text-align: right;
}

.error-message_place_movies {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.error-message_place_sign-form {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
  transform: translateY(-100%);
  text-align: center;
}

.error-message_place_profile-form {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
  transform: translateY(-100%);
  text-align: center;
}

.error-message_place_movies-search {
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
  transform: translateY(-100%);
  text-align: center;
  font-size: 13px;
  line-height: 15px;
}

.error-message_place_trailer-popup {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.error-message_place_slider-small {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
