.navigation-bar {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navigation-bar__links-list {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}

.navigation-bar__links-list_place_main-page {
    gap: 30px;
}

.navigation-bar__links-list_place_movies {
    gap: 30px;
}

.navigation-bar__links-list_place_side-bar {
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

@media screen and (max-width: 767px) {
    .navigation-bar__links-list_place_side-bar {
        gap: 24px;
    }
}