.navigation-bar {
    margin: 0;
    padding: 0;
}

.navigation-bar__links-list {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.navigation-bar__list-item {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
}

.navigation-bar__links-list_place_side-bar {
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.navigation-bar__links-list_place_footer {
    align-items: flex-start;
    gap: 25px;
}

@media screen and (max-width: 1023px) {
    .navigation-bar__links-list_place_footer {
        gap: 15px;
    }
}

@media screen and (max-width: 767px) {
    .navigation-bar__links-list_place_side-bar {
        gap: 30px;
    }

    .navigation-bar__links-list_place_footer {
        flex-direction: column;
        align-items: center;
    }
}