.card-button-saved {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 29px;
    border: 0;
    border-radius: 30px;
    background-color: var(--colors_btn_crimson);
    background-image: url('../../../images/icon_btn_saved.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8px 5px;
}

.card-button-saved:hover {
    cursor: pointer;
    opacity: 0.8;
}