.movie-info {
    margin: 0;
    padding: 0;
    max-width: var(--section_max_width);
    display: grid;
    grid-template-columns: 1.25fr 2fr;
    grid-auto-rows: auto;
    grid-template-areas:
    'poster title'
    'poster info'
    'poster description'
    'poster buttons'
    'poster .';
    gap: 35px 40px;
    position: relative;
    z-index: 2;
}

.movie-info__poster {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    aspect-ratio: 2/3;
    width: 100%;
    box-shadow: 0px 4px 30px rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    grid-area: poster;
}

.movie-info__title {
    margin: 0;
    padding: 0;
    color: var(--fonts_colors_main);
    font-weight: 700;
    font-size: 30px;
    grid-area: title;
}

.movie-info__description {
    margin: 0;
    padding: 0;
    color: var(--fonts_colors_main);
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    opacity: .8;
    grid-area: description;
}

.movie-info__subtitle {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    align-self: flex-start;
    grid-area: info;
}

.movie-info__genres {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}

.movie-info__genre {
    margin: 0;
    padding: 5px 7.5px;
    background-color: var(--colors_btn_white);
    border-radius: 4px;
    color: var(--fonts_colors_dark);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.movie-info__genre::first-letter {
    text-transform: capitalize;
}

.movie-info__text-fade {
    margin: 0;
    padding: 0;
    color: var(--fonts_colors_main);
    font-weight: 400;
    font-size: 15px;
    opacity: .8;
}