.icon-button {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.icon-button__icon {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    color: var(--colors_btn_white);
}

.icon-button__icon_active {
    color: var(--colors_btn_crimson);
}

.icon-button_place_slide-main {
    width: 35px;
    height: 35px;
}

.icon-button_place_description {
    width: 35px;
    height: 35px;
}

.icon-button_place_poster-card {
    width: 15cqw;
    max-width: 30px;
    aspect-ratio: 1/1;
}

.icon-button_place_rating-popup {
    width: 50px;
    height: 50px;
}

.icon-button_place_search {
    padding: 12px;
    width: 48px;
    height: 48px;
    background-color: var(--colors_btn_crimson);
    border-radius: 0 8px 8px 0;
}

@media screen and (min-width: 1024px) {
    .icon-button:hover {
        cursor: pointer;
    }

    .icon-button__icon:hover {
        color: var(--colors_btn_crimson);
    }

    .icon-button__icon_active:hover {
        color: var(--colors_btn_crimson_hover);
    }

    .icon-button_place_search:hover {
        background-color: var(--colors_btn_crimson_hover);
    }

    .icon-button_place_search > .icon-button__icon:hover {
        color: var(--colors_btn_white);
    }
}

@media screen and (max-width: 767px) {
    .icon-button_place_description {
        width: 30px;
        height: 30px;
    }

    .icon-button_place_rating-popup {
        width: 25px;
        height: 25px;
    }

    .icon-button_place_search {
        padding: 10px;
        width: 44px;
        height: 44px;
    }
}