.sign-form-button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 45px;
    border: 0;
    border-radius: 6px;
    background-color: var(--colors_btn_black);
    text-align: center;
    color: var(--fonts_colors_btn);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.sign-form-button:hover {
    cursor: pointer;
    opacity: .8;
}

.sign-form-button:disabled {
    background-color: var(--colors_btn_gray);
    color: var(--fonts_colors_main);
}

.sign-form-button:disabled:hover {
    cursor: auto;
}

@media screen and (max-width: 767px) {
    .sign-form-button {
        font-size: 12px;
        line-height: 15px;
    }
}