.navigation-link {
    margin: 0;
    padding: 0;
    font-weight: 400;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--fonts_colors_main);
}

.navigation-link_place_main-page {
    font-size: 14px;
    line-height: 18px;
}

.navigation-link_place_movies {
    font-size: 14px;
    line-height: 18px;
}

.navigation-link_place_form {
    font-size: 14px;
    line-height: 17px;
}

.navigation-link_place_sidebar {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.navigation-link_place_not-found {
    font-size: 14px;
    line-height: 17px;
}

.navigation-link:hover {
    cursor: pointer;
    opacity: .8;
}

.navigation-link_active {
    font-weight: 500;
}

@media screen and (max-width: 1023px) {
    .navigation-link_active {
        padding-bottom: 4px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        border-bottom: 2px solid var(--fonts_colors_main);
    }

    .navigation-link_place_not-found {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        border: 0;
    }
}

@media screen and (max-width: 767px) {
    .navigation-link_place_form {
        font-size: 12px;
        line-height: 15px;
    }

    .navigation-link_place_not-found {
        font-size: 12px;
        line-height: 15px;
    }

    .navigation-link_place_sidebar {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
}