.header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.header_place_main-page {
    background-color: var(--colors_bg_dark_transparent);
    position: fixed;
    top: 0;
    z-index: 10;
}

.header_place_movies {
    background-color: var(--colors_bg_dark_transparent);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header__content-wrapper {
    margin: 0 auto;
    padding: 0 70px;
    box-sizing: border-box;
    max-width: var(--section_max_width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    .header__content-wrapper {
        padding: 18px 30px;
    }
}

@media screen and (max-width: 767px) {
    .header__content-wrapper {
        padding: 18px 14px;
    }
}