.close-button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
}

.close-button_place_popup {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -35px;
  right: -35px;
}

.close-button__icon {
  width: 100%;
  height: 100%;
  color: var(--colors_btn_white);
}

@media screen and (min-width: 1024px) {
  .close-button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

@media screen and (max-width: 767px) {
  .close-button_place_popup {
    width: 30px;
    height: 30px;
    top: -35px;
    right: 0;
  }
}
