.student-info {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.student-info__title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
}

.student-info__subtitle {
    margin: 18px 0 0;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.student-info__text {
    margin: 26px 0 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

@media screen and (max-width: 1023px) {
    .student-info__title {
        font-size: 40px;
        line-height: 40px;
    }

    .student-info__subtitle {
        margin-top: 16px;
        font-size: 12px;
        line-height: 18px;
    }

    .student-info__text {
        margin-top: 20px;
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 767px) {
    .student-info__title {
        font-size: 30px;
        line-height: 36px;
    }

    .student-info__subtitle {
        margin-top: 20px;
        font-size: 11px;
        line-height: 16px;
    }

    .student-info__text {
        font-size: 11px;
        line-height: 16px;
    }
}