.form-link {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--fonts_colors_fade);
}

@media screen and (max-width: 767px) {
    .form-link {
        font-size: 12px;
        line-height: 15px;
    }
}