.poster-card {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    aspect-ratio: 2/3;
    box-shadow: 0px 4px 30px rgba(255, 255, 255, 0.05);
    background-color: transparent;
    overflow: hidden;
    position: relative;
    container-type: size;
}

.poster-card_vertical {
    aspect-ratio: 2/3;
}

.poster-card_horizontal {
    aspect-ratio: 16/9;
}

.poster-card__figure {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.poster-card:after {
    content: '';
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background: linear-gradient(transparent, var(--colors_bg_main_transparent));
}

.poster-card__poster-wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    width: 100cqw;
    height: 100cqh;
    border-radius: 10px;
    overflow: hidden;
    transition: transform .3s linear;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    background-image: url('../../../images/poster_fallback.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.poster-card__poster {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    background-color: transparent;
    transform: scale(1);
    transition: transform .2s linear;
    display: none;
}

.poster-card__poster_loaded {
    display: block;
}

.poster-card__caption {
    margin: 0;
    padding: 15px 10px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100cqw;
    height: 100cqh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: .15fr .15fr 1fr;
    grid-template-areas:
        'rating buttons'
        '. buttons'
        'title title';
    row-gap: 20px;
    justify-items: center;
    transition: all .2s linear;
}

.poster-card__title {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 7cqh;
    line-height: 1.2em;
    color: var(--fonts_colors_main);
    text-align: center;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    grid-area: title;
    align-self: flex-end;
}

.poster-card__rating-wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    grid-area: rating;
    justify-self: flex-start;
    opacity: 0;
    opacity: transform .2s linear;
}

.poster-card__button-wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    grid-area: buttons;
    justify-self: flex-end;
    position: relative;
    z-index: 6;
    opacity: 0;
    opacity: transform .2s linear;
}

.poster-card__link-wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100cqw;
    height: 100cqh;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5;
    background-color: transparent;
}

@media screen and (min-width: 1024px) {
    .poster-card__link-wrapper:hover {
        cursor: pointer;
    }

    .poster-card:hover .poster-card__caption {
        background-color: var(--colors_bg_main_transparent);
        backdrop-filter: blur(5px);
        transition: all .2s linear;
    }

    .poster-card:hover .poster-card__poster {
        transform: scale(1.15);
        transition: transform .2s linear;
    }

    .poster-card:hover .poster-card__title {
        -webkit-line-clamp: 7;
        line-clamp: 7;
        align-self: flex-start;
    }

    .poster-card:hover .poster-card__rating-wrapper {
        opacity: 1;
        opacity: transform .2s linear;
    }

    .poster-card:hover .poster-card__button-wrapper {
        opacity: 1;
        opacity: transform .2s linear;
    }
}