.about {
    margin: 0;
    padding: 110px 70px;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--colors_bg_main);
}

.about__info-cards {
    margin: 70px 0 0;
    padding: 0;
    display: flex;
    gap: 40px;
}

.about__timeline {
    margin: 110px 0 0;
    padding: 0;
}

@media screen and (max-width: 1023px) {
    .about {
        padding: 90px 50px;
    }

    .about__info-cards {
        gap: 30px;
    }

    .about__timeline {
        margin-top: 93px;
    }
}

@media screen and (max-width: 767px) {
    .about {
        padding: 70px 18px;
    }

    .about__info-cards {
        margin: 60px 0 0;
        flex-direction: column;
        gap: 56px;
    }

    .about__timeline {
        margin-top: 60px;
    }
}