.rating {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  background-image: url("../../../images/icon_vote.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating__count {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--fonts_colors_dark);
  font-weight: 700;
  font-size: 16px;
}
