.section-title {
    margin: 0;
    padding: 150px 0 250px;
    background-color: var(--colors_bg_accent_darkGray);
    background-position: top;
    background-size: 100% auto;
    position: relative;
}

.section-title::after {
    content: '';
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(5px);
    z-index: 0;
}

.section-title::before {
    content: '';
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: .3;
    z-index: 1;
}

.section-title__text {
    margin: 0;
    padding: 0;
    color: var(--fonts_colors_btn);
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 767px) {
    .section-title {
        padding-bottom: 28px;
        font-size: 18px;
        line-height: 22px;
    }
}