.slider-small-wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.slider-small-wrapper__flex {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-small-wrapper__title {
    margin: 0;
    padding: 0;
    color: var(--fonts_colors_main);
    font-size: 30px;
    font-weight: 700;
}

@media screen and (max-width: 1023px) {
    .slider-small-wrapper {
        gap: 25px;
    }

    .slider-small-wrapper__title {
        font-size: 25px;
    }
}

@media screen and (max-width: 767px) {
    .slider-small-wrapper {
        gap: 20px;
    }

    .slider-small-wrapper__title {
        font-size: 18px;
        font-weight: 600;
    }
}