.info-tooltip {
  margin: 0;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--colors_bg_main);
  border-radius: 10px;
  background-image: url("../../../images/icon_success.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 175px, 175px;
}

@media screen and (max-width: 767px) {
  .info-tooltip {
    width: 175px;
    height: 175px;
    background-size: 125px, 125px;
  }
}
