.movie-card {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    aspect-ratio: 2/3;
    box-shadow: 0px 4px 30px rgba(255, 255, 255, 0.05);
    background-color: transparent;
    overflow: hidden;
    position: relative;
    container-type: size;
}

.movie-card:after {
    content: '';
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background: linear-gradient(transparent, rgba(2, 3, 19, 0.6));
}

.movie-card__poster-wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    width: 100cqw;
    height: 100cqh;
    border-radius: 10px;
    overflow: hidden;
    transition: transform .3s linear;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.movie-card__poster {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    background-color: transparent;
    transform: scale(1);
    transition: transform .2s linear;
}

.movie-card__caption {
    margin: 0;
    padding: 15px 10px 30px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100cqw;
    height: 100cqh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all .2s linear;
}

.movie-card__title {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
    font-size: clamp(14px, 24px, 24px);
    line-height: 1em;
    color: var(--fonts_colors_main);
    text-align: center;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.movie-card__controls {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity .2s linear;
}

.movie-card__link-button {
    margin: 0;
    padding: 0;
    display: none;
}

.movie-card:hover .movie-card__caption {
    background-color: var(--colors_bg_black_transparent);
    backdrop-filter: blur(5px);
    transition: all .2s linear;
}

.movie-card:hover .movie-card__controls {
    opacity: 1;
    transition: opacity .2s linear;
}

.movie-card:hover .movie-card__link-button  {
    display: block;
}

.movie-card:hover .movie-card__poster {
    transform: scale(1.1);
    transition: transform .2s linear;
}

.movie-card:hover .movie-card__title {
    -webkit-line-clamp: 5;
    line-clamp: 5;
}