.feed-page {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.feed-page__content {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: var(--section_max_width);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.feed-page__content-wrapper {
    margin: -250px 0 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: relative;
    z-index: 1;
}