.card-button {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50%;
    background-color: var(--colors_btn_gray);
    position: absolute;
    top: 15px;
    right: 18px;
    background-color: rgb(0, 0, 0, .5);
    background-image: url('../../../images/icon_save.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 16px;
}

.card-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.card-button_active {
    background-color: var(--colors_checkbox_bg_checked);
    background-image: url('../../../images/icon_save_active.svg');
}