.technologies {
    margin: 0;
    padding: 100px 70px;
    box-sizing: border-box;
    background-color: var(--colors_bg_accent_gray);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technologies__title {
    margin: 90px 0 0;
    padding: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
}

.technologies__subtitle {
    margin: 26px 0 0;
    padding: 0;
    max-width: 460px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
}

.technologies__list {
    margin: 100px 0 0;
    padding: 0;
    display: flex;
    gap: 10px;
    list-style: none;
    flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
    .technologies {
        padding: 90px 50px;
    }

    .technologies__title {
        margin-top: 80px;
    }

    .technologies__subtitle {
        margin-top: 22px;
        font-size: 12px;
        line-height: 18px;
    }

    .technologies__list {
        margin-top: 83px;
    }
}

@media screen and (max-width: 767px) {
    .technologies {
        padding: 70px 18px;
        background-color: var(--colors_bg_main);
    }

    .technologies__title {
        margin-top: 60px;
        font-size: 30px;
        line-height: 36px;
    }

    .technologies__subtitle {
        margin-top: 24px;
        font-size: 11px;
        line-height: 16px;
    }

    .technologies__list {
        margin-top: 50px;
        padding: 0 50px;
    }
}