.main-page {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}

.main-page__content {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: var(--section_max_width);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}