.link-button {
    margin: 0;
    padding: 6px 14px;
    box-sizing: border-box;
    border: 0;
    border-radius: 10px;
    text-decoration: none;
    color: var(--fonts_colors_btn);
    font-family: var(--fonts_family);
    background-color: transparent;
}

.link-button:hover {
    cursor: pointer;
}

.link-button_place_slide-main {
    font-weight: 700;
    font-size: 15px;
    background-color: var(--colors_btn_crimson);
}

.link-button_place_sign-in {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    background-color: var(--colors_btn_crimson);
}

@media screen and (min-width: 1024px) {
    .link-button_place_slide-main:hover {
        background-color: var(--colors_btn_crimson_hover);
    }

    .link-button_place_sign-in:hover {
        background-color: var(--colors_btn_crimson_hover);
    }
}

@media screen and (max-width: 1023px) {
    .link-button_place_sign-in {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .link-button_place_sign-in {
        padding: 5px 12px;
        font-size: 14px;
    }
}
