.share-button {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    background-image: url('../../../images/icon_share.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.share-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.share-button_place_poster-card{
    width: 25px;
    height: 25px;
}

.share-button_place_description {
    width: 32px;
    height: 32px;
}

.share-button_place_slide-main {
    width: 30px;
    height: 30px;
}