@keyframes spinner {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.preloader-small {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader-small__spinner {
    margin: 0;
    padding: 0;
    width: 5%;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    background-image: url('../../../images/icon_spinner.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: spinner .6s infinite linear;
}
