.profile-page {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    gap: 74px;
}

.profile-page__content {
    margin: 0;
    padding: 0;
    width: 410px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 105px;
}

.profile-page__title {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

@media screen and (max-width: 1023px) {
    .profile-page {
        gap: 236px;
    }

    .profile-page__content {
        gap: 80px;
    }
}

@media screen and (max-width: 767px) {
    .profile-page {
        gap: 70px;
    }

    .profile-page__content {
        width: 260px;
        gap: 65px;
    }
}