.credits-slider {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.credits-slider__title {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--fonts_colors_main);
    font-size: 27px;
    font-weight: 700;
    line-height: 1em;
    text-align: center;
}

.credits-slider__swiper {
    margin: 0;
    padding: 30px 0;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 690px;
}

.credits-slider__swiper .swiper-slide {
    height: fit-content;
}

.credits-slider__swiper .swiper-button-prev {
    margin: 0 auto;
    color: var(--colors_btn_white);
    width: 100%;
    top: 0;
    left: 0;
    bottom: auto;
    right: 0;
    transform: rotate(90deg);
}

.credits-slider__swiper .swiper-button-prev::after {
    font-weight: 700;
    font-size: 30px;
}

.credits-slider__swiper .swiper-button-next {
    margin: 0 auto;
    color: var(--colors_btn_white);
    width: 100%;
    top: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: rotate(90deg);
}

.credits-slider__swiper .swiper-button-next::after {
    font-weight: 700;
    font-size: 30px;
}

.credits-slider__swiper .swiper-button-disabled {
    opacity: 0;
}