.play-button {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: transparent;
    background-image: url('../../../images/icon_play.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.play-button_place_poster-card{
    display: none;
}

.play-button_place_description {
    width: 32px;
    height: 32px;
}

.play-button_place_slide-main {
    width: 30px;
    height: 30px;
}

@media screen and (min-width: 1024px) {
    .play-button:hover {
        cursor: pointer;
        background-image: url('../../../images/icon_play_crimson.svg');
        background-color: var(--colors_btn_white);
    }
}