.movie-info-buttons {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}

.movie-info-buttons_place_movie-info {
    align-items: center;
    gap: 20px;
    grid-area: buttons;
}

.movie-info-buttons_place_movie-card {
    flex-direction: column;
    gap: 15px;
}

.movie-info-buttons_place_movie-slide {
    align-items: center;
    gap: 20px;
    grid-area: buttons;
}