.movie-slide {
    margin: 0;
    padding: 200px 150px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    background:
        linear-gradient(45deg, transparent 95%, var(--colors_bg_main)),
        linear-gradient(315deg, transparent 95%, var(--colors_bg_main)),
        linear-gradient(135deg, transparent 95%, var(--colors_bg_main)),
        linear-gradient(225deg, transparent 95%, var(--colors_bg_main)),
        linear-gradient(90deg, transparent 70%, var(--colors_bg_main)),
        linear-gradient(270deg, transparent 70%, var(--colors_bg_main)),
        linear-gradient(to right, rgb(0,0,0, .3) 50%, transparent),
        var(--image_url) center / cover no-repeat;
}

.movie-slide__content-wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.movie-slide__title {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--fonts_colors_btn);
    font-weight: 700;
    font-size: 48px;
}

.movie-slide__info {
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 30px;
    border-left: 2px solid var(--fonts_colors_fade);
}

.movie-slide__release-date {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--fonts_colors_main);
    font-weight: 500;
    font-size: 20px;
}

.movie-slide__description {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--fonts_colors_main);
    font-weight: 500;
    font-size: 15px;
    opacity: .9;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}