.sign-form {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.sign-form__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sign-form__button-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
}

.sign-form__link {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
}

.sign-form__link-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--fonts_colors_fade);
}

@media screen and (max-width: 767px) {
  .sign-form {
    gap: 70px;
  }

  .sign-form__button-wrapper {
    gap: 16px;
  }

  .sign-form__link {
    font-size: 12px;
    line-height: 15px;
  }
}
