.search-button {
    margin: 0;
    padding: 7px;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    background-color: var(--colors_btn_crimson);
    background-image: url('../../../images/icon_search.svg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
    border: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}