.search-button {
    margin: 0;
    padding: 7px;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    background-color: var(--colors_btn_crimson);
    background-image: url('../../../images/icon_search.svg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 8px 8px 0;
    border: 0;
}

.search-button:hover {
    cursor: pointer;
    opacity: 0.85;
}

@media screen and (max-width: 767px) {
    .search-button {
        width: 44px;
        height: 44px;
    }
}