.burger-button {
  margin: 0;
  padding: 7px 8px;
  width: 44px;
  height: 38px;
  box-sizing: border-box;
  background-color: transparent;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.burger-button__line {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 3px;
  background-color: var(--colors_btn_white);
  transform: rotate(0) transition(0, 0);
  transition: transform 0.2s linear;
}

.burger-button_active {
  justify-content: center;
}

.burger-button_active .burger-button__line_middle {
  display: none;
}

.burger-button_active .burger-button__line_top {
  transform: translate(0, 50%) rotate(45deg);
  transition: transform 0.2s linear;
}

.burger-button_active .burger-button__line_bottom {
  transform: translate(0, -50%) rotate(-45deg);
  transition: transform 0.2s linear;
}

.burger-button_place_side-bar {
  position: fixed;
  top: 18.5px;
  right: 30px;
  z-index: 11;
}

@media screen and (min-width: 1024px) {
  .burger-button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

@media screen and (max-width: 767px) {
  .burger-button {
    padding: 8.5px 9px;
    width: 40px;
  }

  .burger-button_place_side-bar {
    right: 14px;
  }

  .burger-button__line {
    height: 2.5px;
  }
}
