.more-button {
    margin: 0;
    padding: 0;
    width: 20%;
    height: 40px;
    background-color: var(--colors_btn_crimson);
    color: var(--fonts_colors_btn);
    border: 0;
    border-radius: 6px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.05);
}

.more-button:hover {
    cursor: pointer;
    opacity: .9;
}

.more-button_place_reviews {
    width: 10%;
    height: 30px;
    font-size: 12px;
    line-height: 16px;
}

@media screen and (max-width: 1023px) {
    .more-button {
        width: 25%;
        height: 30px;
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 767px) {
    .more-button {
        width: 30%;
        height: 25px;
        font-size: 12px;
        line-height: 15px;
    }
}