.more-button__wrapper {
    margin: -450px 0 0;
    padding: 0 0 175px;
    box-sizing: border-box;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background:
        linear-gradient(180deg, rgba(2, 3, 19, 0) 0%, rgba(2, 3, 19, 0.84) 52.77%, var(--colors_bg_main) 94.27%),
        linear-gradient(135deg, transparent 70%, var(--colors_bg_main)),
        /* linear-gradient(90deg, transparent 80%, var(--colors_bg_main)), */
        linear-gradient(225deg, transparent 70%, var(--colors_bg_main)),
        /* linear-gradient(270deg, transparent 80%, var(--colors_bg_main)), */
        rgba(2, 3, 19, 0.3);
    backdrop-filter: blur(2px);
    position: relative;
    z-index: 2;
}

.more-button {
    margin: 0;
    padding: 0;
    width: 20%;
    height: 40px;
    background-color: var(--colors_btn_crimson);
    color: var(--fonts_colors_btn);
    border: 0;
    border-radius: 6px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.05);
}

.more-button:hover {
    cursor: pointer;
    opacity: .9;
}