.rating-button {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    background-image: url('../../../images/icon_star.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.rating-button_rated {
    background-image: url('../../../images/icon_star_active.svg');
}

.rating-button_place_poster-card {
    width: 25px;
    height: 25px;
}

.rating-button_place_description {
    width: 32px;
    height: 32px;
}

.rating-button_place_slide-main {
    width: 30px;
    height: 30px;
}

@media screen and (min-width: 1024px) {
    .rating-button:hover {
        cursor: pointer;
        background-image: url('../../../images/icon_star_active.svg');
    }
}